@Bellox876543218#

-- USERS
create table users (
  id uuid primary key references auth.users(id) on delete cascade,
  email text,
  created_at timestamp default now()
);

-- EVENTS
create table events (
  id uuid primary key default gen_random_uuid(),
  title text not null,
  date timestamp not null,
  created_by uuid references users(id),
  created_at timestamp default now()
);

-- PARTICIPANTS
create table participants (
  id uuid primary key default gen_random_uuid(),
  user_id uuid references users(id) on delete cascade,
  event_id uuid references events(id) on delete cascade,
  created_at timestamp default now()
);

-- RLS
alter table users enable row level security;
alter table events enable row level security;
alter table participants enable row level security;

-- USERS POLICIES
create policy "read users"
on users for select using (true);

create policy "insert own user"
on users for insert with check (auth.uid() = id);

-- EVENTS POLICIES
create policy "read events"
on events for select using (true);

create policy "create events"
on events for insert with check (auth.uid() = created_by);

-- PARTICIPANTS POLICIES
create policy "read participants"
on participants for select using (true);

create policy "join event"
on participants for insert with check (auth.uid() = user_id);

create policy "leave event"
on participants for delete using (auth.uid() = user_id);